http://www.pakarekosistemindonesia.com,
http://admin.pakarekosistemindonesia.com {
    redir https://{host}{uri} permanent
}

www.pakarekosistemindonesia.com {
    reverse_proxy frontend:3000 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Port {server_port}
        header_up X-Forwarded-For {remote_host}
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}

admin.pakarekosistemindonesia.com {
    reverse_proxy strapi:1337 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Port {server_port}
        header_up X-Forwarded-For {remote_host}
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}
