services:
  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    networks:
      - iot-network
    restart: unless-stopped

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"     # Wajib untuk verifikasi Let's Encrypt
      - "443:443"   # Wajib untuk jalur WSS (SSL)
      - "443:443/udp" # Wajib untuk ACME DNS-01 challenge
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - iot-network
    depends_on:
      - mqtt

  database:
    image: timescale/timescaledb:latest-pg14
    container_name: database
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - iot-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      cache_from:
        - iotproject_backend:latest
    image: iotproject_backend:latest
    container_name: backend
    ports:
      - "8000:8000"
    environment:
      - MQTT_HOST=mqtt
      - MQTT_PORT=1883
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
      - DB_HOST=database
      - DB_PORT=5432
      - SECRET_KEY=${BACKEND_SECRET_KEY}
      - DATABASE_URL=postgresql://admin:adminpassword@database:5432/sensordata
    depends_on:
      database:
        condition: service_healthy
      mqtt:
        condition: service_started
    networks:
      - iot-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      cache_from:
        - iotproject_frontend:latest
    image: iotproject_frontend:latest
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - INTERNAL_API_URL=http://backend:8000
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend
    networks:
      - iot-network
    restart: unless-stopped

volumes:
  db_data:
    driver: local
  caddy_data:
  caddy_config:

networks:
  iot-network:
    driver: bridge
